@page
@model _FictionalProgrammers.Pages.Programmers.DetailsModel


<h1>Details</h1>

<div>
    <h4>Programmer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programmer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Programmer.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="Index" class="btn btn-secondary" style="width:159px;">Back To List</a>
</div>
